In [2]:
# 1. 표준화(Standardization) : 데이터의 집합을 분산/표준편차를 1로 만들어주는 작업
# 2. min max : 최소값을 0 / 최대값을 1 로 만들어 주는 작업

import pandas as pd 
# pandas 라이브러리 호출하여 pd라는 별칭으로 사용

In [ ]:
# lv2-2308.csv 파일을 호출하여 df_train에 담아라
# 쥬피터 웹
df_train = pd.read_csv('./test2308/lv2-2308.csv')

# 개인 피씨에서 직접 호출(VS사용 시)
#df_train  = pd.read_csv('D:/DataScience/Data Science Level2 Practical Problem 2308/lv2-2308.csv')

In [5]:
# df_train 제대로 호출되었는지 확인 (14980행 / 16 칼럼)
df_train

,PTC_ID,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,EYE_CLOSED
0,1,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,0
1,2,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,0
2,3,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,0
3,4,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,0
4,5,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14975,14976,4281.03,3990.26,4245.64,4116.92,4333.85,4614.36,4074.87,4625.64,4203.08,4221.54,4171.28,4269.23,4593.33,4340.51,1
14976,14977,4276.92,3991.79,4245.13,4110.77,4332.82,4615.38,4073.33,4621.54,4194.36,4217.44,4162.56,4259.49,4590.26,4333.33,1
14977,14978,4277.44,3990.77,4246.67,4113.85,4333.33,4615.38,4072.82,4623.59,4193.33,4212.82,4160.51,4257.95,4591.79,4339.49,1
14978,14979,4284.62,3991.79,4251.28,4122.05,4334.36,4616.41,4080.51,4628.72,4200.00,4220.00,4165.64,4267.18,4596.41,4350.77,1
14979,14980,4287.69,3997.44,4260.00,4121.03,4333.33,4616.41,4088.72,4638.46,4212.31,4226.67,4167.69,4274.36,4597.95,4350.77,1

In [6]:
# 칼럼들의 기술적인 기본적인 통계량 제공
df_train.describe()

,PTC_ID,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,EYE_CLOSED
count,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000
mean,7490.500000,4321.917777,4009.767694,4264.022433,4164.946326,4341.741075,4644.022379,4110.400160,4616.056904,4218.826610,4231.316200,4202.456900,4279.232774,4615.205336,4416.435832,0.448798
std,4324.497851,2492.072174,45.941672,44.428052,5216.404632,34.738821,2924.789537,4600.926543,29.292603,2136.408523,38.050903,37.785981,41.544312,1208.369958,5891.285043,0.497388
min,1.000000,1030.770000,2830.770000,1040.000000,2453.330000,2089.740000,2768.210000,2086.150000,4567.180000,1357.950000,1816.410000,3273.330000,2257.950000,86.666700,1366.150000,0.000000
25%,3745.750000,4280.510000,3990.770000,4250.260000,4108.210000,4331.790000,4611.790000,4057.950000,4604.620000,4190.770000,4220.510000,4190.260000,4267.690000,4590.770000,4342.050000,0.000000
50%,7490.500000,4294.360000,4005.640000,4262.560000,4120.510000,4338.970000,4617.950000,4070.260000,4613.330000,4199.490000,4229.230000,4200.510000,4276.920000,4603.080000,4354.870000,0.000000
75%,11235.250000,4311.790000,4023.080000,4270.770000,4132.310000,4347.180000,4626.670000,4083.590000,4624.100000,4209.230000,4239.490000,4211.280000,4287.180000,4617.440000,4372.820000,1.000000
max,14980.000000,309231.000000,7804.620000,6880.510000,642564.000000,6474.360000,362564.000000,567179.000000,7264.100000,265641.000000,6674.360000,6823.080000,7002.560000,152308.000000,715897.000000,1.000000

In [7]:

# 기본적인 칼럼들의 정보 (데이터 개수, 널값, 데이터 타입 확인 가능)
# int : 정수
# object : string
# float : 실수
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14980 entries, 0 to 14979
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PTC_ID      14980 non-null  int64
 1   AF3         14980 non-null  float64
 2   F7          14980 non-null  float64
 3   F3          14980 non-null  float64
 4   FC5         14980 non-null  float64
 5   T7          14980 non-null  float64
 6   P7          14980 non-null  float64
 7   O1          14980 non-null  float64
 8   O2          14980 non-null  float64
 9   P8          14980 non-null  float64
 10  T8          14980 non-null  float64
 11  FC6         14980 non-null  float64
 12  F4          14980 non-null  float64
 13  F8          14980 non-null  float64
 14  AF4         14980 non-null  float64
 15  EYE_CLOSED  14980 non-null  int64
dtypes: float64(14), int64(2)
memory usage: 1.8 MB

In [ ]:
# df_train에서 원하는 칼럼('AF3'∼ 'AF4')까지만 호출하여 df_train2의 dataframe에 담아라
df_train2 = df_train.loc[:,'AF3':'AF4']
df_train2

,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14975,4281.03,3990.26,4245.64,4116.92,4333.85,4614.36,4074.87,4625.64,4203.08,4221.54,4171.28,4269.23,4593.33,4340.51
14976,4276.92,3991.79,4245.13,4110.77,4332.82,4615.38,4073.33,4621.54,4194.36,4217.44,4162.56,4259.49,4590.26,4333.33
14977,4277.44,3990.77,4246.67,4113.85,4333.33,4615.38,4072.82,4623.59,4193.33,4212.82,4160.51,4257.95,4591.79,4339.49
14978,4284.62,3991.79,4251.28,4122.05,4334.36,4616.41,4080.51,4628.72,4200.00,4220.00,4165.64,4267.18,4596.41,4350.77
14979,4287.69,3997.44,4260.00,4121.03,4333.33,4616.41,4088.72,4638.46,4212.31,4226.67,4167.69,4274.36,4597.95,4350.77

In [ ]:
# 원한는 칼럼만 취출하여 배열에 담는 과정 설명 (AF3부터 - AF4까지 칼럼을 cols라는 배열에 담는다)

cols = list(df_train.loc[:,'AF3':'AF4'].columns)
cols

In [ ]:
# 전처리 2가지

# 1번 표준화 (데이터 집합의 분산과 표준편차를 1로 만들어주는 작업)
# 2번 Min Max (데이터의 최대값을 1로 최소값을 0으로 만들어주는 작업)

# 1. 표준화
from sklearn.preprocessing import StandardScaler # 표준화 라이브러리 호출

# 표준화(StandardScaler) 작업을 수행하는 SC00이라는 객체를 생성 및 정의
SC00 = StandardScaler()
# SC00은 임의 네이밍 SS, Sscaler등 본인이 정의

# 표준화 할 데이터를 넣고 피팅 학습
new_data = SC00.fit_transform(df_train2)

# 데이터가 제대로 생성되었는지 확인 (array로 리턴됨)


new_data

In [ ]:
# array를 보기 좋은 dataframe형식으로 변환, 칼럼은 임의 숫자로 리턴 
final_df = pd.DataFrame(new_data)

In [ ]:
# 위에서 cols라는 배열에 칼럼명을 만들어 두었던 것을 활용
final_df = pd.DataFrame(new_data,columns=cols)
final_df

In [ ]:
# 제대로 표준화 되었는지 검정
# 모든 칼럼의 std가 1인 것을 확인 가능 → 제대로 처리 됨
final_df.describe()

In [ ]:
# 참고 데이터가 어떻게 분포되어 있는지 직관적으로.시각적으로 보고자 할때
# 2레벨 시험과는 무관 (그래프 구현하라는 시험 문제는 없음)
# 아래는 어느정도 정규성을 보인다고 판단 됨 (완벽하지는 않지만 종모양을 보임)

import seaborn as sns
import matplotlib.pyplot as plt

fig, ax = plt.subplots()
sns.histplot(df_train['O2'],ax=ax)
plt.xlim([4550,4750])
plt.show()

In [ ]:
# 2. (참고) Min Max
# 라이브러리 사용방법은 표준화와 거의 동일
from sklearn.preprocessing import MinMaxScaler # 모든 데이터를 0과 1사이에 배치

MM00 = MinMaxScaler()
MM00.fit_transform(df_train2)
new_data2 = MM00.fit_transform(df_train2)
final_df2 = pd.DataFrame(new_data2,columns=cols)

final_df2.describe()

In [ ]:
# 참고 : 규칙적인 정보가 있으면, 간단하게 배열을 생성할수 있음 (for문 사용)
new = ['a{}'.format(i) for i in range(10)]
new

In [ ]:
# 만약 for문이 없다면.. 막코딩? 손이 많이가고 번거롭고, 실수 유발 가능성
new_list = [] # 배열 선언
new_list.append('a0')
new_list.append('a1')
new_list.append('a2')
new_list.append('a3')
new_list.append('a4')
new_list.append('a5')
new_list.append('a6')
new_list.append('a7')
new_list.append('a8')
new_list.append('a9')
new_list

In [ ]:
# dataframe을 합치는 문법
# 대표적으로 merge 와 concat이 있으며, 금일은 concat 소개


# 1번 dataframe
final_df

# 2번 dataframe : 기존 csv를 호출 한 df_train에서 2개 칼럼만 취출하여 dataframe 생성
temp = df_train[['PTC_ID','EYE_CLOSED']]

# 위의 1번과 2번을 merge함 (디폴트는 행으로 합쳐짐.axis = 0 이라는 의미 // 여기서는 열로 합쳐야 하니 axis = 1 로 처리)
a_final = pd.concat([final_df,temp],axis=1)
a_final

# 여기서부터 문제가 시작 임

In [ ]:
# 위의 결과에서 AF3-AF4행의 평균을 구해서 별도 공간에 담아둬라
# 배열 / 튜플 / 딕셔너리 어떤걸 사용해도 무방
# 이번 시간은 딕셔너리를 사용하여 칼럼들의 평균을 담고자 함

# 딕셔너리 정의
dic_mean = {}

# for문이 돌면서 각 칼럼들의 평균을 계산하여 dic_mean 보관
for col in cols : 
    
    #print(df_train[col].mean()) # 출력하는 부분
    dic_mean[col] = df_train[col].mean()

In [ ]:
# 위에서 계산된 값을 조회 : 딕셔너리
dic_mean

In [ ]:
# dataframe으로 변환
dic_mean.keys()
dic_mean.values()

df_from_dic = pd.DataFrame({'Column_Name(칼럼명)' : dic_mean.keys(), 'Mean(평균)' : dic_mean.values() })
df_from_dic

In [ ]:
# 위에서 최대값
MAX = df_from_dic.max()['Mean(평균)']
MAX

In [ ]:
# 위에서 최소값
MIN = df_from_dic.min()['Mean(평균)']
MIN

In [ ]:
# 최대값 - 최소값
RESULT = MAX - MIN
RESULT

In [ ]:
df1 = a_final.loc[a_final['EYE_CLOSED'] == 1]
df1

In [ ]:
df2 = a_final.loc[a_final['EYE_CLOSED'] == 0]
df2